<!--18 есть?-->
<div class="ageOuterWrapper">
    <div class="ageContainer">
        <div class="theWords">Для посещения сайта необходимо подтвердить свой&nbsp;возраст</div>
        <a href="#">
            <div class="alreadyEighteen">мне есть 18<div class="arrowSmallRight"></div></div>
        </a>
    </div>
</div>
<!--есть, есть-->
<div class="mainWrapper"></div>