<div class='menuWrapper mobileHelper' id='menu'>
    <div class='menuHeader'>
        <a class='logoUPPA' href='/'></a>
        <div class='menuHeaderCloseBtn' id='menuHeaderCloseBtn'></div>
        <div class='menuHeaderOpenBtn' id='menuHeaderOpenBtn'></div>
    </div>
    <div class='menuBody'>
        <div class='listItemsWrapper'>
            <ul>
                <li class='listItem'>
                    <a href='/wines'>Вина</a>
                    <div class='arrowBig'></div>
                </li>
                <li class='listItem'>
                    <a href='/terra'>Терруар</a>
                    <div class='arrowBig'></div>
                </li>
                <li class='listItem'>
                    <a href='/about'>О винодельне</a>
                    <div class='arrowBig'></div>
                </li>
                <li class='listItem'>
                    <a href='/technology'>Технология</a>
                    <div class='arrowBig'></div>
                </li>
                <li class='listItem'>
                    <a href='/club'>Клуб UPPA</a>
                    <div class='arrowBig'></div>
                </li>
            </ul>
        </div>
        <div class='menuFooter'>
            <div class='contactsWrapper'>
                <ul>
                    <li class='contactItem'>
                        <a href='/contacts'>Контакты</a>
                        <div class='arrowSmall'></div>
                    </li>
                    <li class='contactItem'>
                        <a href='/visit'>Организация визита</a>
                        <div class='arrowSmall'></div>
                    </li>
                </ul>
            </div>
            <div class='socialWrapper'>
            </div>
            <div class='signatureWrapper'>
                <div class='signImg'></div>
                <div class='uppaShvets'>UPPA by Pavel Shvets</div>
                <div class='ourName'>
                    Сделано
                    <a href='http://redobureau.com/'>redo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='dim'></div>
