= render "menu", is_black: true
.bottlesWrapper
  -@wines.each_with_index do |wine, index|
    .bottle{class: get_bottle_class(index)}
      -if index == 0
        %a.goToWines{:href => "#"} ВИНА
      =image_tag_or_default(wine, 'logo', class: 'bottleImage')
      .bottleDescription
        =link_to wine_path(wine), class: 'wineDescription' do
          .wineName=wine.title
          .wineSortWrapper
            .wineSort CHARDONAY
            .arrowWine