<div id="menu" class="menuWrapper hidden">
    <div class="buttonsContainer buttonsContainer--close">
        <div class="logoUPPA"></div>
        <div id="burgerCloseBtn" class="hamburgerClose"></div>
    </div>

    <div class="menuContainer">
        <div class="listItemsWrapper">
            <ul>
                <li class="listItem"><a href="#">Вина</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">Терруар</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">О винодельне</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">Технология</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">Клуб UPPA</a><div class="arrowBig"></div></li>
            </ul>
        </div>

        <div class="menuFooter">
          <div class="contactsWrapper">
              <ul>
                  <li class="contactItem"><a href="#">Контакты</a><div class="arrowSmall"></div></li>
                  <li class="contactItem"><a href="#">Организация визита</a><div class="arrowSmall"></div></li>
              </ul>
          </div>

          <div class="socialWrapper">
              <a href="#" class="instagram"></a>
              <a href="#" class="facebook"></a>
              <a href="#" class="vkontakte"></a>
          </div>

          <div class="signature"></div>
        </div>
    </div>
</div>

<% if is_black ||= false %>
    <div class="buttonsContainer buttonsContainerBlack">
        <div class="logoUPPA"></div>
        <div id="burger" class="hamburgerButton"></div>
    </div>
<% else %>
    <div class="buttonsContainer">
        <div class="logoUPPA"></div>
        <div id="burger" class="hamburgerButton"></div>
    </div>
<% end %>
