<div id="menu" class="menuWrapper hidden">
    <div class="menuHeader">
        <div class="logoUPPA"></div>
        <div id="menuHeaderCloseBtn" class="menuHeaderCloseBtn"></div>
    </div>

    <div class="menuContainer">
        <div class="listItemsWrapper">
            <ul>
                <li class="listItem"><a href="#">Вина</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">Терруар</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">О винодельне</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">Технология</a><div class="arrowBig"></div></li>
                <li class="listItem"><a href="#">Клуб UPPA</a><div class="arrowBig"></div></li>
            </ul>
        </div>

        <div class="menuFooter">
          <div class="contactsWrapper">
              <ul>
                  <li class="contactItem"><a href="#">Контакты</a><div class="arrowSmall"></div></li>
                  <li class="contactItem"><a href="#">Организация визита</a><div class="arrowSmall"></div></li>
              </ul>
          </div>

          <div class="socialWrapper">
              <a href="#" class="instagram"></a>
              <a href="#" class="facebook"></a>
              <a href="#" class="vkontakte"></a>
          </div>

          <div class="signature"></div>
        </div>
    </div>
</div>

<% if is_black ||= false %>
    <div class="header headerBlack">
        <div class="logoUPPA"></div>
        <div id="headerOpenBtn" class="headerOpenBtn"></div>
    </div>
<% else %>
    <div class="header">
        <div class="logoUPPA"></div>
        <div id="headerOpenBtn" class="headerOpenBtn"></div>
    </div>
<% end %>
