<!--   Menu; hidden by default-->
<div id="menu" class="menuWrapper hidden">
    <div class="buttonsContainer">
        <div class="logoUPPA"></div>
        <div id="burgerCloseBtn" class="hamburgerClose"></div>
    </div>

    <div class="listItemsWrapper">
        <ul>
            <li class="listItem"><a href="#">Вина</a></li>
            <li class="listItem"><a href="#">Терруар</a></li>
            <li class="listItem"><a href="#">О винодельне</a></li>
            <li class="listItem"><a href="#">Технология</a></li>
            <li class="listItem"><a href="#">Клуб UPPA</a></li>
        </ul>
    </div>

    <div class="contactsWrapper">
        <ul>
            <li class="contactItem"><a href="#">Контакты</a></li>
            <li class="contactItem"><a href="#">Организация визита</a></li>
        </ul>
    </div>

    <div class="socialWrapper">
        <a href="#" class="instagram"></a>
        <a href="#" class="facebook"></a>
        <a href="#" class="vkontakte"></a>
    </div>
</div>

<!--    Main block-->
<div class="mainWrapper">
    <div class="logoUPPA"></div>
    <div id="burger" class="hamburgerButton"></div>
</div>
