<div class="bottlesWrapper">
   
    <div class="upperBlock">
        <div class="buttonsContainer">
            <div class="logoUPPA"></div>
            <div class="hamburgerButton"></div>
        </div>
        
        <div class="bottleImage"></div>
        
        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>
            
            <a href="#" class="arrowWine"></a>
        </div>
    </div>
    
    <div class="firstBottle">
        <div class="bottleImage"></div>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>
    
    <div class="secondBottle">
        <div class="bottleImage"></div>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>
    
    <div class="thirdBottle">
        <div class="bottleImage"></div>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>
    
    <div class="fourthBottle">
        <div class="bottleImage"></div>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>
    
    <div class="fifthBottle">
        <div class="bottleImage"></div>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>
    
    <div class="sixthBottle">
        <div class="bottleImage"></div>

        <div class="bottleDescription">
            <a href="#" class="wineDescription">
                <div class="wineName">CLER POLATI</div>
                <div class="wineYear">2016</div>
                <div class="wineSort">CHARDONAY</div>
            </a>

            <a href="#" class="arrowWine"></a>
        </div>
    </div>
    
</div>