<%= render "menu" %>

<div class="showWrapper">
    <%= render "nav" %>
    <!--Выбор-->
    <div class="choice">
		<div class="arrowBalance"></div><!--invisible helper element for symmetry-->
    	<div class="year">2016</div>
    	<div class="arrow"></div>
    </div>
    <!--Имя бренда-->
    <div class="brandName title">CLER POLATI</div>
    <!--Сорт винограда-->
    <div class="grapeVariety">Chardonay 2016</div>
    <!--Содержание спирта и кислотность-->
    <table class="title">
    	<tr>
    		<td class="spiritAcid">спирт</td>
    		<td>12,1%</td>
    	</tr>
    	<tr>
			<td class="spiritAcid">кислотность</td>
    		<td>5,9 г/л</td>
    	</tr>
    </table>
    <!--Внешний вид-->
	<div class="appearance title">внешний вид</div>
	<div class="appearanceDesc description">Желтовато-соломенного цвета насыщенное вино. Маслянистое.</div>
	
	<!--Аромат-->
	<div class="aroma title">аромат</div>
	<div class="aromaDesc description">Характерный для данного типа вин. Ваниль, полевые цветы, запах корочки ржаного хлеба, акация, медоносы.</div>
	
	<!--Вкус-->
	<div class="taste title">вкус</div>
	<div class="tasteDesc description">Насыщенное, округлое вино, с приятной кислотностью, маслянистое, полнотелое.</div>
	
	<!--Период созревания-->
	<div class="expectedRipeness title">ожидаемый период зрелости</div>
	<div class="ripenessYears description">2016 – 2020 год</div>
	
	<!--Рекомаендации-->
	<div class="recomendations title">гастрономические рекомендации</div>
	<div class="recomendationsDesc description">Горячие блюда из птицы, пернатая дичь, свинина, запеченная в тесте, горячие блюда из морепродуктов и сливочными соусами.</div>
	
	<div class="footer">
		<p>&copy; UPPA by Pavel Shvets</p>
		<a href="#">Our name</a>
	</div>
</div>
