$('#form').find('.text-error').empty();

var errors = "<%= @request.errors.messages %>";
console.log('Errors are: ' + errors);

errors_array = errors.split(',');


for (item of errors_array) {
  var field_name = item.substring(item.lastIndexOf(":")+1, item.lastIndexOf("="));
  console.log('Item is: ' + item);

  if (field_name == 'bot') {
    $('#form').append("<p><div class='g-form__text text-error'>К сожалению, ваши действия очень похожи на действия бота. Попробуйте заполнить форму в более спокойном темпе.</p></div>");
  }
  else if (field_name == 'attachments'){
    $('#form').append("<p><div class='g-form__text text-error'>К сожалению, формат загруженных файлов не поддерживается.</p></div>");
  } else {
  // $input = $('form').find("input[name='request[" + field_name + "]']");
  // $input.parents(".g-input").toggleClass("g-input_error", true);

    $('#form').append("<p><div class='g-form__text text-error'>Поле "+ field_name + " не заполнено.</p></div>");
  }
}
