.contactsInnerWrapper {
    display: flex;
    overflow: scroll;
    flex-flow: column nowrap;

    width: 100%;
    padding: 91px 25px 0;

    background-color: #EEEDE7;
    
    .questionContacts {
        font-family: $serifFamily;
        font-size: 28px;
        color: #000000;
        letter-spacing: 0.45px;
        line-height: 29px;
        font-weight: 400;
        
        padding-bottom: 15px;
    }
    
    .titleCommon {
        font-family: $sansFamily;
        font-size: 12px;
        color: #000000;
        letter-spacing: 1.8px;
        line-height: 20px;
        font-weight: 700;
        
        text-transform: uppercase;
        
        padding-bottom: 5px;
        padding-top: 25px;
    }
    
    .descriptionCommon {
        font-family: $sansFamily;
        font-size: 14px;
        color: #000000;
        letter-spacing: 1.91px;
        line-height: 20px;
        font-weight: 400;
    }
    
    a {
        text-decoration: none;
    }
    
    .showMap {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: auto;
        min-height: 55px;
        
        margin-top: 39px;
        margin-bottom: 60px;
        
        border: 1px solid #323232;
        
        font-family: $sansFamily;
        font-size: 10px;
        color: #000000;
        letter-spacing: 1.5px;
        line-height: 15px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        
        .arrowSmallRight {
            width: 12px;
            height: 7px;
            
            margin-left: 5px;
            
            background-image: asset-url('arrow/arrow_small_right.svg');
        }
    }
    
    .wannaVisit {
        display: none;
        
        font-family: $sansFamily;
        font-size: 18px;
        color: #000000;
        letter-spacing: 1px;
        line-height: 25px;
        font-weight: 700;
        
        padding-top: 55px;
        
        width: 233px;
    }
    
    .wannaVisit + a {
        text-decoration: none;
    }
    
    .knowMore {
        display: none;
        
        align-items: center;
        font-family: $sansFamily;
        font-size: 10px;
        color: #000000;
        letter-spacing: 1px;
        line-height: 13px;
        font-weight: 700;
        
        text-transform: uppercase;
        
        padding-top: 18px;
        
        .arrowSmallRight {
            width: 12px;
            height: 7px;

            margin-left: 6px;

            background-image: asset-url('arrow/arrow_small_right.svg');
        }
    }
    
    .footerContacts {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100vw;
        height: 45px;
        margin-left: calc(-50vw + 50%);
        padding: 0 25px;

        letter-spacing: 0.75px;
        font-family: $sansFamily;

        color: #EEEDE7;
        background-color: #323232;

        font-size: 9px;
        line-height: 12px;
    }

    .footerContacts a {
        cursor: pointer;
        text-decoration: none;

        color: #EEEDE7;
        
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

#contactsMap {
    width: 250px;
    min-height: 100%;
    
    display: none;
}

@media (min-width: 800px) {
    .contactsOuterWrapper {
        display: flex;
        flex-direction: row;

        padding-left: 50px;
        
        .contactsInnerWrapper {
            padding-left: 59px;
            padding-bottom: 45px;
            min-height: 100vh;
            
            min-width: 50%;
            
            .questionContacts {
                font-size: 34px;
                color: #1A1A1A;
                letter-spacing: 0.55px;
                line-height: 60px;
                
                padding-bottom: 18px;
            }
            
            .titleCommon {
                font-size: 10px;
                color: #000000;
                letter-spacing: 1.5px;
                line-height: 15px;
                
                padding-top: 14px;
                padding-bottom: 6px;
            }
            
            .descriptionCommon {
                font-size: 10px;
                color: #000000;
                letter-spacing: 1.36px;
                line-height: 15px;
            }
            
            .wannaVisit {
                display: flex;
                
                padding-top: 39px;
            }
            
            .knowMore {
                display: flex;
            }
            
            .showMap {
                display: none;
            }
            
            .footerContacts {
                display: none;
            }
        }
        
        #contactsMap {
            display: flex;
            
            min-width: 50%;
        }
    }
}

@media (min-width: 1000px) {
    .contactsOuterWrapper {
        padding-left: 250px;
        
        .contactsInnerWrapper {
            
            .wannaVisit {
                padding-top: 54px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .contactsOuterWrapper {
        padding-left: 300px;
        
        .contactsInnerWrapper {            
            padding: 106px 58px 45px;
        }
    }
}