.mainWrapper {
    display: flex;

    width: 100%;
    height: 100%;

    background-image: asset-url('main_bottles.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mobileHelper {
    display: none;
}

@media (min-width: 568px) and (orientation: landscape) {
    .mainWrapper {
        background-position: 0 15%;
    }
}

@media (min-width: 800px) {
  .mainWrapper {
    transition: 300ms background-position ease;

    background-image: asset-url('main_bottles_800.png');
    background-position: 250px;
  }

  .mobileHelper {
    display: inherit;
  }

  .mobileHelper ~ .mainWrapper {
    background-position: 50px;
    background-size: cover;
  }
}

@media (min-width: 1000px)  {
    .mainWrapper {
        background-image: asset-url('main_bottles_1000.png');
        background-position: 150px;
    }
    
    .mobileHelper ~ .mainWrapper {
        background-position: 250px 0;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    .mainWrapper {
        background-image: asset-url('main_bottles_1200.png');
    }
    
    .mobileHelper ~ .mainWrapper {
        background-position: 300px 0;
        background-size: cover;
    }
}
