* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

$wineDesc: #000;
$menuBackground: #1A1A1A;
$linkColor: rgba(216,216,216,0.3);
$linkColorHover: #fff;
$pageBackground: #EEEDE7;

@import "shared.scss";
@import "bottles/_menu.scss";
@import "bottles/home.scss";
@import "bottles/index.scss";
@import "bottles/show.scss";
