// Place all the styles related to the bottles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
//    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
/*Main block*/
.mainWrapper {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-image: asset-url('main_bottles.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    .buttonsContainer {
        width: 100%;
        height: 30px;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logoUPPA {
            width: 26px;
            height: 30px;
            background-image: asset-url('logo.png');
            cursor: pointer;
        }

        .hamburgerButton {
            width: 17px;
            height: 16px;
            background-image: asset-url('hamburger.svg');
            cursor: pointer;
        }
        
    }
    
}

/*Menu; hidden by default*/
.menuWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    
    .buttonsContainer {
        width: 100%;
        height: 30px;
        display: flex;
        margin-top: 24px;
        justify-content: space-between;
        align-items: center;

        .logoUPPA {
            width: 26px;
            height: 30px;
            background-image: asset-url('logo.png');
            cursor: pointer;
        }

        .hamburgerClose {
            width: 15px;
            height: 15px;
            background-image: asset-url('hamburger_close.svg');
            cursor: pointer;
        }
    }
    
    .menuContainer {
        width: auto;
        height: auto;
        margin-top: 87px;
        display: flex;
        flex-flow: column nowrap;
        
        .listItemsWrapper {
            width: auto;
            height: 175px;

            ul {
                list-style: none;

                li {
                    display: flex;
                }

                li > a {
                    text-decoration: none;
                    color: rgba(216,216,216,0.3);
                    cursor: pointer;
                    font-size: 24px;
                    line-height: 35px;
                }

                .listItem:hover > .arrowBig {
                    width: 20px;
                    height: 12px;
                    background-image: asset-url('arrow_big.png');
                    align-self: center;
                    margin-top: 7px;
                    margin-left: 7px;
                }

                .listItem:hover > a {
                    color: #fff;
                }
            }
        }

        .contactsWrapper {
            width: 141px;
            height: 45px;
            margin-top: 61px;

            ul {
                list-style: none;

                li {
                    display: flex;
                }

                li > a {
                    text-decoration: none;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 1.2px;
                    color: rgba(216,216,216,0.3);
                    cursor: pointer;
                }

                .contactItem:hover > .arrowSmall {
                    width: 10px;
                    height: 7px;
                    background-image: asset-url('arrow_small.png');
                    align-self: center;
                    margin-top: 3px;
                    margin-left: 5px;
                }

                .contactItem:hover > a {
                    color: #fff;
                }
            }
        }

        .socialWrapper {
            width: 81px;
            height: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 68px;

            a {
                cursor: pointer;
            }

            .instagram {
                background-image: asset-url('instagram.svg');
                width: 13px;
                height: 13px;
            }

            .facebook {
                background-image: asset-url('facebook.svg');
                width: 8px;
                height: 13px;
            }

            .vkontakte {
                background-image: asset-url('vk.svg');
                width: 16px;
                height: 10px;
            }
        }

        .signature {
            width: 65px;
            height: 20px;
            background-image: asset-url('pavel_sign.png');
            margin-top: 65px;
            margin-bottom: 20px;
        }
        
    }
    
}

@media (min-width: 568px) and (orientation: landscape) {
    
    .mainWrapper {
        height: 100%;
        background-position: 0 15%;
    }
    
    .menuWrapper {
        height: 100vh;

        .menuContainer {
            height: 175px;
            margin-top: 69.5px;
            flex-flow: column wrap;
            align-content: flex-start;

            .listItemsWrapper {
                width: 191px;
            }

            .contactsWrapper {
                margin-top: 0;
                margin-left: 90px;
            }

            .socialWrapper {
                margin-top: 106px;
                margin-left: 90px;
            }
        }

        .signature {
            display: none;
        }
    }
}

.hidden {
    display: none;
}

/*Bottles cascade*/

.bottlesWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .upperBlock {
        width: 100%;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #EEEDE7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7px;

        .buttonsContainer {
            width: 100%;
            height: 30px;
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logoUPPA {
                width: 26px;
                height: 30px;
                background-image: asset-url('logo_black.png');
                cursor: pointer;
            }

            .hamburgerButton {
                width: 17px;
                height: 16px;
                background-image: asset-url('hamburger_black.svg');
                cursor: pointer;
            }

        }

        .bottleImage {
            width: 114px;
            height: 427px;
            align-self: center;
            background-image: asset-url('bottles/first.png');
            margin-top: -7px;
        }

        .bottleDescription {
            width: auto;
            height: 45px;
            display: flex;
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;

            .wineDescription {
                width: auto;
                height: 45px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }

            .arrowWine {
                background-image: asset-url('arrow_wine.svg');
                width: 11px;
                height: 5px;
                align-self: center;
            }
        }
    }
    
    .firstBottle {
        width: 100%;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #EDE1C5;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7px;
        
        .bottleImage {
            width: 114px;
            height: 427px;
            align-self: center;
            background-image: asset-url('bottles/first.png');
            margin-top: 50px;
        }
        
        .bottleDescription {
            width: auto;
            height: 45px;
            display: flex;
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;

            .wineDescription {
                width: auto;
                height: 45px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }

            .arrowWine {
                background-image: asset-url('arrow_wine.svg');
                width: 11px;
                height: 5px;
                align-self: center;
            }
        }
    }
    
    .secondBottle {
        width: 100%;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #DBC2C5;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7px;

        .bottleImage {
            width: 114px;
            height: 413px;
            align-self: center;
            background-image: asset-url('bottles/second.png');
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 50px;
        }

        .bottleDescription {
            width: auto;
            height: 45px;
            display: flex;
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;

            .wineDescription {
                width: auto;
                height: 45px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }

            .arrowWine {
                background-image: asset-url('arrow_wine.svg');
                width: 11px;
                height: 5px;
                align-self: center;
            }
        }
    }
    
    .thirdBottle {
        width: 100%;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #EAE6D7;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7px;

        .bottleImage {
            width: 114px;
            height: 427px;
            align-self: center;
            background-image: asset-url('bottles/third.png');
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 50px;
        }

        .bottleDescription {
            width: auto;
            height: 45px;
            display: flex;
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;

            .wineDescription {
                width: auto;
                height: 45px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }

            .arrowWine {
                background-image: asset-url('arrow_wine.svg');
                width: 11px;
                height: 5px;
                align-self: center;
            }
        }
    }
    
    .fourthBottle {
        width: 100%;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #C5BEAA;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7px;

        .bottleImage {
            width: 114px;
            height: 427px;
            align-self: center;
            background-image: asset-url('bottles/fourth.png');
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 50px;
        }

        .bottleDescription {
            width: auto;
            height: 45px;
            display: flex;
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;

            .wineDescription {
                width: auto;
                height: 45px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }

            .arrowWine {
                background-image: asset-url('arrow_wine.svg');
                width: 11px;
                height: 5px;
                align-self: center;
            }
        }
    }
    
    .fifthBottle {
        width: 100%;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #BBB77A;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7px;

        .bottleImage {
            width: 114px;
            height: 427px;
            align-self: center;
            background-image: asset-url('bottles/fifth.png');
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 50px;
        }

        .bottleDescription {
            width: auto;
            height: 45px;
            display: flex;
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;

            .wineDescription {
                width: auto;
                height: 45px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }

            .arrowWine {
                background-image: asset-url('arrow_wine.svg');
                width: 11px;
                height: 5px;
                align-self: center;
            }
        }
    }
    
    .sixthBottle {
        width: 100%;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #FFEFE5;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7px;

        .bottleImage {
            width: 114px;
            height: 427px;
            align-self: center;
            background-image: asset-url('bottles/sixth.png');
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 50px;
        }

        .bottleDescription {
            width: auto;
            height: 45px;
            display: flex;
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;

            .wineDescription {
                width: auto;
                height: 45px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #000;
            }

            .arrowWine {
                background-image: asset-url('arrow_wine.svg');
                width: 11px;
                height: 5px;
                align-self: center;
            }
        }
    }
}