.reset-input {
  appearance: none;
  font: inherit;
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.contact_form {

}

.contact_form input:focus{
  border: none;
}

.contact_form input{
  appearance: none;
  font: inherit;
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;

  height: 50px;
  width: 100%;
  font-family: 'Basis Grotesque Pro';
  font-weight: 700;
  font-style: normal;
  margin-bottom: 15px;
  color: #4c4947;
  font-size: 12px;
}



.contact_form input[type=text]{
  background-color: #dcd7d1;
  padding-left: 13px;
}

.contact_form input[type=submit]{
  //width: 240px;
  border: 1px solid black;
  text-transform: uppercase;
  font-size:10px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.contact_form input[type=submit]:hover {
color: #EEEDE7;
background-color: #1A1A1A;
animation: slowly 0.2s;
cursor: pointer;
}

@media (min-width: 800px) {
  .contact_form input{
    //width: 300px;
  }
  .contact_form input[type=submit]{
    width: 100%;
  }
}

.contact_form textarea{
  display: none;
}
.g-form__text{
  font-family: 'Basis Grotesque Pro';
  font-weight: 300;
  font-style: normal;
  color: red;
  font-size: 12px;
    letter-spacing: 1.5px;
}
