<div class="contactsOuterWrapper">
    <h2 class="questionContacts">Как добраться?</h2>
    
    <h3 class="titleContacts">отдел продаж</h3>
    <p class="descriptionContacts">+7 (978) 025 63 76 - Алексей</p>
    <p class="descriptionContacts">aleksey.chuyko@uppawine.com</p>
    
    <h3 class="titleContacts">визит на виноградник</h3>
    <p class="descriptionContacts">+7 (978) 259 29 79</p>
    <p class="descriptionContacts">Александра</p>
    <p class="descriptionContacts">info@uppawine.com</p>
    
    <h3 class="titleContacts">адрес виноградника</h3>
    <p class="descriptionContacts">Россия, с. Родное Балаклавского района г.&nbsp;Севастополя, 2&nbsp;км&nbsp;к&nbsp;северу&nbsp;от&nbsp;с.&nbsp;Родное.</p>
    
    <h3 class="titleContacts">gps координаты</h3>
    <p class="descriptionContacts">N 44 33 676</p>
    <p class="descriptionContacts">E 33 45 182</p>
    
    <h3 class="titleContacts">почтовый адрес</h3>
    <p class="descriptionContacts">СПК «Терруар»</p>
    <p class="descriptionContacts">299007 Россия г.&nbsp;Севастополь,&nbsp;а/я&nbsp;258</p>
    
    <div class="showMap">показать на карте<div class="arrowSmallRight"></div></div>
    
    <div class="footerContacts">
        <p class="UPPA">© UPPA by Pavel Shvets</p>
        <a href="#" class="ourName">Our name</a>
    </div>
</div>