<div class="visitInnerWrapper">
    <a href="#" class="organizeVisit">организация визита</a>
   
    <h2 class="headerCommon">Ждем вас на&nbsp;нашей винодельне!</h2>
    
    <p class="descriptionCommon">Вы можете посетить наше хозяйство по предварительной договоренности. Ждем Вас с 1 мая.</p>
    <p class="descriptionCommon">Для этого необходимо отправить письмо с заявкой: время, дата, кол-во гостей, контактная информация по электронной почте info@uppawine.com или позвонить по телефону +7 (978) 259 29 79 - Александра</p>
    
    <div class="flipperWrapper">
        <div class="grapeBunchWrapper">
            <div class="carouselContainer">

                <div class="pushLeft">
                    <div class="arrowSlideLeft"></div>
                </div>

                <div class="grapeBunch"></div>

                <div class="pushRight">
                    <div class="arrowSlideRight"></div>
                </div>

            </div>

            <p>Cabernet Savingon</p>
            <p>Cler Polati</p>
        </div>

        <div class="visitButtonsContainer">
            <a href="#"><div class="sendRequest">отправить заявку<div class="arrowSmallRight"></div></div></a>
            <a href="#"><div class="goToContacts">контакты<div class="arrowSmallRight"></div></div></a>
        </div>
    </div>
    
    <div class="footerVisit">
        <p class="UPPA">© UPPA by Pavel Shvets</p>
        <a href="http://redobureau.com" class="ourName">redo</a>
    </div>
    
</div>