.mainWrapper {
    display: flex;

    width: 100%;
    height: 100%;

    background-image: asset-url('main_bottles.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

@media (min-width: 568px) and (orientation: landscape) {
    .mainWrapper {
        background-position: 0 15%;
    }
}
