/*Bottles cascade*/

.bottlesWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    
    .bottle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        height: 100vh;
        padding: 0 25px 7px 25px;
        
        .bottleImage {
            align-self: center;

            width: 114px;
            height: auto;
            
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .bottleDescription {
            display: flex;

            width: auto;
            height: 45px;

            letter-spacing: 1.5px;

            font-size: 10px;
            line-height: 15px;

            .wineDescription {
                display: flex;
                flex-direction: column;

                width: auto;
                height: 45px;

                text-decoration: none;

                color: $wineDesc;
            }

            .arrowWine {
                align-self: center;

                width: 11px;
                height: 5px;

                background-image: asset-url('arrow_wine.svg');
            }
        }
    }

    .upperBlock {
        background-color: #EEEDE7;

        .buttonsContainer {
            .logoUPPA {
                background-image: asset-url('logo_black.png');
            }

            .hamburgerButton {
                background-image: asset-url('hamburger_black.svg');
            }
        }

        .bottleImage {
            margin-top: 50px;
        }

    }

    .firstBottle {
        background-color: #EDE1C5;

        .bottleImage {
            margin-top: 50px;
        }
    }

    .secondBottle {
        background-color: #DBC2C5;

        .bottleImage {
            margin-top: 50px;
        }
    }

    .thirdBottle {
        background-color: #EAE6D7;

        .bottleImage {
            margin-top: 50px;

            background-image: asset-url('bottles/third.png');
        }
    }

    .fourthBottle {
        background-color: #C5BEAA;

        .bottleImage {
            margin-top: 50px;

            background-image: asset-url('bottles/fourth.png');
        }
    }

    .fifthBottle {
        background-color: #BBB77A;

        .bottleImage {
            margin-top: 50px;

            background-image: asset-url('bottles/fifth.png');
        }
    }

    .sixthBottle {
        background-color: #FFEFE5;

        .bottleImage {
            margin-top: 50px;

            background-image: asset-url('bottles/sixth.png');
        }
    }
}
