.valleyView {
    display: none;
    
    min-width: 250px;
    height: 100vh;
    
    overflow: hidden;
    
    background-image: asset-url('800px_item_valley_pic.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.showPage_bottleImage {
    display: none;
}

.showWrapper {
	display: flex;
	flex-flow: column nowrap;

	width: 100%;
	height: auto;
	padding: 80px 25px 0;

	background-color: $pageBackground;

	.choice {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: auto;
		height: 55px;
		margin-bottom: 40px;

		border: 1px solid black;

		.year {
			letter-spacing: 1px;

			font-size: 10px;
		}

		.arrowBalance {
			width: 7px;
			height: 5px;
			padding-right: 25px;
		}

		.arrow {
			width: 7px;
			height: 5px;
			padding-right: 25px;

			background-image: asset-url('arrow_small_down.png');
			background-repeat: no-repeat;
		}
	}

	.title {
		letter-spacing: 1.8px;
		text-transform: uppercase;

		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
	}

	.description {
		padding-top: 5px;
		padding-bottom: 20px;

		letter-spacing: 1.91px;

		font-size: 14px;
		line-height: 20px;
	}

	.brandName {
	}

	.grapeVariety {
		letter-spacing: 0.45px;

		font-size: 28px;
		line-height: 30px;
	}

	table {
		padding: 30px 0 20px 0;
	}

	.tableRowName {
		width: 190px;
	}
    
    .wineSelector {
        display: none;
    }

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: auto;
		width: 100vw;
		height: 45px;
		margin-top: 35px;
		margin-left: calc(-50vw + 50%);
		padding: 0 25px;

		letter-spacing: 0.75px;

		color: #EEEDE7;
		background-color: #323232;

		font-size: 9px;
		line-height: 20px;
	}

	.footer a {
		cursor: pointer;
		text-decoration: none;

		color: #EEEDE7;
	}
}

@media (min-width: 800px) {
    .showOuterWrapper {
        display: flex;
        flex-direction: row;

        padding-left: 50px;
    }
    
    .valleyView {
        display: flex;
    }
    
    .showPage_bottleImage {
        position: absolute;
        display: flex;
        
        width: 132px;
        height: auto;
        left: 234px;
        
        padding-top: 11vh;
    }
    
    .showWrapper {
        min-width: 500px;
        
        padding-left: 127px;
        padding-right: 80px;
        padding-top: 40px;
        
        .choice {
            display: none;
        }
        
        .grapeVariety {
            font-size: 34px;
            letter-spacing: 0.55px;
            font-family: Kazimir-Regular;
            color: #000000;
            padding-top: 5px;
        }
        
        .title {
            font-size: 10px;
            letter-spacing: 1.5px;
            line-height: 15px;
            font-family: AkzidenzGroteskPro-Md;
        }
        
        .brandName,
        .tableRowName {
            font-family: Kazimir-Regular;
        }
        
        .description {
            padding-bottom: 14px;
            max-width: 300px;
            
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 1.36px;
            font-family: AkzidenzGroteskPro-Regular;
        }
        
        
        .wineSelector {
            display: flex;
            justify-content: space-between;
            
            width: 77px;
            height: 15px;
            
            margin-left: 100px;
            margin-top: auto;
            margin-bottom: 37px;
            
            font-family: AkzidenzGroteskPro-Md;
            font-size: 10px;
            color: #000000;
            letter-spacing: 1.5px;
            line-height: 15px;
            
            a {
                cursor: pointer;
            }
            
            .arrowLeft {
                width: 12px;
                height: 7px;
            }
            
            .arrowRight {
                width: 12px;
                height: 7px;
            }
        }
        
        .footer {
            display: none;
        }
    }
}
